name: Publish Apollo

on:
  push:
    tags: v[0-9]+.[0-9]+.[0-9]+*

permissions:
  contents: read
  id-token: write
  packages: write

jobs:
  publish-npm:
    name: Publish to NPM
    runs-on: ubuntu-latest
    environment: publish
    steps:
      - name: Check out
        uses: actions/checkout@v5
      # Setup .npmrc file to publish to npm
      - name: Use Node.js 24.x
        uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org
          scope: '@apollo-annotation'
          cache: yarn
      - name: Install
        run: yarn --immutable
      - name: Build shared
        run: yarn build
        working-directory: packages/apollo-shared
      - name: Publish
        run:
          yarn workspaces foreach --no-private --all npm publish
          --tolerate-republish
  publish-docker:
    needs: [publish-npm]
    uses: ./.github/workflows/docker.yml
    with:
      tag: latest
    secrets: inherit
  deploy:
    needs: [publish-npm, publish-docker]
    uses: ./.github/workflows/deploy.yml
    with:
      environment: prod
    secrets: inherit
