name: Pull Request

on:
  pull_request:
    paths:
      - '**.tsx?'

jobs:
  build:
    name: Strict lint and test
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4
      - name: Use Node.js 24.x
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: yarn
      - name: Install
        run: yarn --immutable
      # Have to build shared before linting so type-based lint rules can
      # run correctly
      - name: Build shared
        run: yarn build
        working-directory: packages/apollo-shared
      - name: Lint codebase
        run: yarn eslint --max-warnings 0

      # apollo-shared tests
      - name: Build shared
        run: yarn build
        working-directory: packages/apollo-shared
      - name: Run apollo-shared tests
        run: yarn run test:ci
        working-directory: packages/apollo-shared

      # jbrowse-plugin-apollo tests
      - name: Run jbrowse-plugin-apollo tests
        run: yarn run test:ci
        working-directory: packages/jbrowse-plugin-apollo

      # Cypress tests
      - name: Get latest JBrowse
        run: yarn run jbrowse create --nightly .jbrowse
        working-directory: packages/jbrowse-plugin-apollo
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.10.0
        with:
          mongodb-version: 7
          mongodb-replica-set: test-rs
      - name: Start local file server
        run:
          yarn --cwd packages/apollo-collaboration-server/test/data/ serve
          --listen 3131 &
      - name: Run Cypress tests
        run: yarn run test:e2e
        working-directory: packages/jbrowse-plugin-apollo

      # CLI tests
      - name: Start apollo
        run: |
          yarn --cwd packages/apollo-shared start &
          yarn --cwd packages/apollo-collaboration-server test:cli:start &
      - name: Run CLI tests
        run: yarn run test:ci
        working-directory: packages/apollo-cli

      # - name: Run docker tests
      #   working-directory: packages/apollo-cli
      #   run: python3 ./src/test/test_docker.py
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
