name: Push

on:
  push:
    branches:
      - '**'
    tags:
      - '!**'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4
      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: yarn
      - name: Install
        run: yarn --immutable
      - name: Build collaboration server
        run: yarn build
        working-directory: packages/apollo-collaboration-server
      - name: Build plugin
        run: JB_NPM=false yarn build
        working-directory: packages/jbrowse-plugin-apollo
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4
      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: yarn
      - name: Install
        run: yarn --immutable
        # Have to build shared before linting so type-based lint rules can
        # run correctly
      - name: Build shared
        run: yarn build
        working-directory: packages/apollo-shared
      - name: Lint codebase
        run: yarn eslint --max-warnings 0
  docker:
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/docker.yml
    with:
      tag: dev
    secrets: inherit
  deploy:
    needs: [docker]
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/deploy.yml
    with:
      environment: staging
    secrets: inherit
